<!doctype html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/Jquery/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="profile.css" type="text/css"/>
    <link rel="stylesheet" href="/css/home.css" type="text/css"/>
    <title>Profile</title>
    <meta name="author" content="your name"/>
    <meta name="description" content=""/>
</head>
<body>

<div id="page">
    <div id="logo">
        <h1><a href="/" id="logoLink">First geographic site</a></h1>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/home">Home</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
        <div align="center">Login:
    ${login}
        <br>

       First Name:
    ${firstname}
        <br>

        Last Name:
    ${lastname}
        <br>
        Country:
            ${country}
            <br>
       City:
    ${city}
        <br>

        Age:
    ${age}


    </div>
    <div id="footer">
        <p>
            Created by Shirgaleev Salavat
        </p>
    </div>
</div>
</body>
</html>
<body>