<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/Jquery/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/css/home.css" type="text/css"/>
    <script type="text/javascript" src="/js/time.js"></script>
    <title>Time</title>

</head>
<body>

<body>

<div id="page">
    <div id="logo">
        <h1><a href="/home" id="logoLink">First geographic site</a></h1>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>
    </div>

    <br>
    <br>

    <h2>
        <div style="text-align: center;"><span id="doc_time" "kazan()"></span></div>

        <h2><a href="#" onclick="kazan()">Kazan</a></h2>

        <h2><a href="#" onclick="ufa()">Ufa</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="bugulma()">Bugulma</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="october()">Octyabr'skiy</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="cheboxary()">Cheboxary</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="ishimbay()">Ishimbay</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="newyork()">New-York</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="seattle()">Seattle</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="oslo()">Oslo</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="london()">London</a></h2>

        <div id="res"></div>
        <h2><a href="#" onclick="tokio()">Tokio</a></h2>

        <div id="res"></div>
        <div id="content">
            <script type="text/javascript">kazan();</script>
            <div align="center"><h3>${g}</h3></div>

            <div align="right">${author}</div>
        </div>
        <div id="footer">
            <p>
                Created by Shirgaleev Salavat
            </p>
        </div>
</div>

</body>
</html>
