#navbar ul{
    display: none;
    background-color: rgb(48, 213, 200);
    position: absolute;
    top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar {
    height: 47px;
    background-color: #666;
    padding-left: 1px;
    min-width: 470px;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
}
#navbar li a {
    display: block;
    padding: 6px;
    width: 146px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: rgb(48, 213, 200); }
#navbar ul li:hover { background-color: #666; }


a.button {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
a.button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.button:active { background: rgb(152,15,0); } /* при нажатии */

form.login {
    background: rgb(48, 213, 200);
    position:absolute;
    left:77%;
    top: 190px;
    border: solid 5px #666;
    padding: 7px;
    width: 300px;
    height: 130px;
}
div.blok1 {
    position: relative;
    top:50px;
    background: #b0b0b0;
    border: #000000 2px solid;
    padding: 15px 15px 100px;
    width: 1354px;
    height: auto;
    min-height: 500px;
}
.blok2 {
    position: relative;
    bottom: 100px;
    top: 50px;
    background:rgb(48, 213, 200);
    border: #000 4px solid;
    padding: 5px;
    height: auto;
    width: 1400px;
}



.gallary{
    position: static;
    top: 25px;


    background: rgba(71,67,67,0.81);
    border: #000 3px solid;
    padding: 30px;
    width: 1020px;
    height: 1450px;


}

.time{
    position: absolute;

    padding: 30px;
    top:100px;
    left: 125px;
    height: auto;
    width: auto;
    background:rgb(48, 213, 200) ;
}

.timetext{
    position:relative;
    padding: 40px;
    top:150px;


}

.priroda{
    position: relative;
    border: #000 3px solid;
    padding: 30px;
    width: 1300px;
    height: 700px;
    background: #909090;
}
.int{
    position: relative;
    border: #000 4px solid;
    padding: 30px;
    width: 1300px;
    height: auto;
    background: #909090;
}

.picture{
    position: relative;
    top: 40px;
    height: auto;
    width: auto;
    max-width: 1300px;
}

.opros{
    position: relative;
    top: 60px;
    height: 400px;
    width: 350px;
    border:#000 5px solid;
    padding: 20px;
}





h1.fraza {
    font-family: Helvetica, Arial, Verdana;
    white-space: pre;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}
h1.head{
    font-family: Helvetica, Arial, Verdana;
    text-align: center;
    font-style: normal;
    font-size: 28px;
    font-weight: bold;

}
p.resume{
    text-align:center;
    font-size: 18px;
    font-weight: lighter;
    font-family: Helvetica, Arial, Verdana;

}
p.city{
    text-align:center;
    font-size: 15px;
    font-weight: lighter;
    font-family: Helvetica, Arial, Verdana;
}

tr.country {
    height: 25%;
}




body {
    background: rgb(48, 213, 200) url(/image/best.png) scroll;
}

