body{
font-family: Arial;
font-size: 20pt;
margin: 5pt;
padding: 5pt 0pt 0pt 40pt;
}

.text_1{
height: 50%;
display: inline-block;
width: 19%;
text-align: left;
color: red;
}

.text_2{
display: inline-block;
text-align: center;
width: 19%;
vertical-align: top;
}

.text_3{
width: 18%;
display: inline-block;
vertical-align: top;
text-align: right;
font-weight: bold;
border: 5px;
color: #32CD32;
padding: 0px 5px 0px 0px;
}

.text_4{
display: inline-block;
width: 18%;
vertical-align: top;
text-align: left;
font-weight: bold;
color: yellow;
}

.text_5{
display: inline-block;
width: 19%;
vertical-align: top;
text-align: left;
}

.text_6{
display: inline-block;
width: 38%;
vertical-align: top;
font-style: italic;
text-align: center;
}

.text_7{
display: inline-block;
width: 18%;
vertical-align: top;
color: red;
}

.text_8{
display: inline-block;
width: 17%;
vertical-align: top;
font-weight: bold;
}

.text_9{
display: inline-block;
width: 19%;
vertical-align: top;
}

.text_10{
display: inline-block;
width: 18%;
color: #32CD32;
vertical-align: top;
text-align: left;
}

.text_11{
display: inline-block;
width: 58%;
vertical-align: top;
text-align: left;
color: #6495ED;
}

.text_12{
display: inline-block;
width: 18%;
vertical-align: top;
color: #32CD32;
text-align: right;
}

.text_13{
display: inline-block;
width: 18%;
vertical-align: top;
font-weight: bold;
text-align: left;
}
.text_14{
display: inline-block;
width: 37%;
vertical-align: top;
color: #6495ED;
font-weight: bold;
text-align: center;
}
.text_15{
display: inline-block;
width: 38%;
vertical-align: top;
color: red;
text-align: center;
}