<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addition</title>
</head>
<body>

<#if (m.find()) >
   <h2> ${a}  + ${b} = ${a + b} </h2>
</#if>

</body>
</html>